[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pymysql = "*"
flask-bcrypt = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pyqt5 = "*"
nltk = "*"
gensim = "*"
lemminflect = "*"
sentence-transformers = {editable = true, path = "./../../scratch/sentence-transformers-master/sentence-transformers-master"}

[dev-packages]

[requires]
python_version = "3.10"
