{% extends 'layout.html' %}

{% block body %}
<form action="/input" method="post" id="text_submit_form">
    <div class="form-group">
        <label for="similarity_measure">Similarity measure to use:</label>
        <select id="similarity_measure" name="similarity_measure" class="form-control">
            <option value="jaccard">Jaccard</option>
            <option value="cosine">Cosine</option>
        </select>
    </div>
    <div class="form-group">
        <label for="input_string_1">Text 1:</label>
        <textarea id="input_string_1" name="input_string_1" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="input_string_2">Text 2:</label>
        <textarea id="input_string_2" name="input_string_2" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="result_container">

</div>
{% endblock body %}

{% block script %}
<script src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock script %}