<form class="content_container" action="/login" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
    {% for message in get_flashed_messages(category_filter=['err_email_login']) %}
    <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}

    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    {% for message in get_flashed_messages(category_filter=['err_password_login']) %}
    <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}

    <div class="submit-container">
        <input type="submit" value="Login" id="submitButton" />
    </div>
</form>