{% extends 'layout.html' %}

{% block navbar %}
<div class="col nav_left">
    <h1 class="nav_title">Arbortrary
    </h1>
    <p>A site to track randomly planted Trees</p>
</div>
<div class="col nav_right">
    <a href="/user/account">My Trees</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout"><button>Logout</button></a>
</div>
{% endblock navbar %}

{% block banner %}
<div class="banner">
    <p class="subtext">Arbortrary Plant a Tree</p>
</div>
{% endblock banner %}


{% block body%}
<form action="/new/tree" , method="post">
    <!-- <div class="col"> -->
    <div class="form_content_left">
        <label for="species">Species</label>
        <input type="text" name="species" id="species" />
        {% for message in get_flashed_messages(category_filter=['err_tree_species']) %}
        <p class="alert alert-danger">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form_content_left">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" />
        {% for message in get_flashed_messages(category_filter=['err_tree_location']) %}
        <p class="alert alert-danger">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form_content_left">
        <label for="reason">Reason</label>
        <input type="text" name="reason" id="reason" />
        {% for message in get_flashed_messages(category_filter=['err_tree_reason']) %}
        <p class="alert alert-danger">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form_content_left">
        <label for="date_planted">Date Planted</label>
        <input type="date" name="date_planted" id="date_planted" />
        {% for message in get_flashed_messages(category_filter=['err_tree_date_planted']) %}
        <p class="alert alert-danger">{{ message }}</p>
        {% endfor %}
    </div>
    <input type="submit" class="form_content_left" value="Create" />
    <!-- </div> -->
</form>
{% endblock body%}