{% extends 'layout.html' %}

{% block navbar %}
<div class="col nav_left">
    <h1 class="nav_title">Arbortrary
    </h1>
    <p>A site to track randomly planted Trees</p>
</div>
<div class="col nav_right">
    <h1 class="nav_title">Welcome {{user.first_name}}</h1>
    <a href="/user/account">My Trees</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout"><button>Logout</button></a>
</div>
{% endblock navbar %}

{% block body%}
<div class="col left">
    <p>{{tree.species}} planted by {{tree.user.first_name}} {{tree.user.last_name}}</p>
    <p>location: {{tree.location}}</p>
    <p>date: {{tree.date_planted}}</p>
    <p>reason: {{tree.reason}}</p>
    <p>visitors:</p>
    {% for visitor in tree.visitors %}
    <p>{{visitor.first_name}}</p>
    {% endfor %}

    <a href="/visited/{{tree.id}}">Did you visit this tree?</a>


</div>
{% endblock body%}