{% extends 'layout.html' %}

{% block navbar %}
<div class="nav_left">
    <h1 class="nav_title">Text Parser</h1>
</div>
<div class="nav_right">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

{% endblock navbar %}

{% block body %}
<div class="content_container">
    <div class="title">Login</div>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" />
            {% for message in get_flashed_messages(category_filter=['err_email_login']) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" />
            {% for message in get_flashed_messages(category_filter=['err_password_login']) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="submitButton">Login</button>
        </div>
    </form>
</div>
{% endblock body %}